# Women and Men in Stem

Using data from the Pew Research Center, and the codebook, I am recreating the data provided in the article entitled "Women and Men in STEM Often at Odds Over Workplace Equity". 
This project will showcase Data Manipulation to provide the desired results with an explaination. The codebook and article will also be provided. This project will showcase my ability to analyze data and manipulate it to create readable data for research purposes. 
Note: this project is ongoing

### Initial install

In [1]:
pip install pyreadstat

Requirement already satisfied: pyreadstat in /opt/anaconda3/lib/python3.9/site-packages (1.1.9)
Requirement already satisfied: pandas>=1.2.0 in /opt/anaconda3/lib/python3.9/site-packages (from pyreadstat) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.2.0->pyreadstat) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.2.0->pyreadstat) (1.20.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadstat) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np
import pandas as pd

In [2]:
#import data from SPSS

stem = pd.read_spss('2017 Pew Research Center STEM survey.sav')
stem

,CaseID,weight,WORK_1,WORK_2,WORK_3,WORK_4,EMPLOYED,FULLPART,SELFEMPLOYED,OCCUPATION_col,...,SCICOUR2_t,MATHCOUR2_t,PPT017_t,PPT18OV_t,PPHHSIZE_t,EDUC4CAT,RACE_col,RECONA_col,RECONB_col,RECONC_col
0,3.0,0.0707,Yes,No,No,No,Employed,Full Time Employee,Not Self Employed,Computer and Mathematical,...,1.0,1.0,0.0,1.0,1.0,Bachelors degree,White,"Computer work (such as software developer, dat...",NaN,NaN
1,4.0,0.3938,Yes,No,No,No,Employed,Full Time Employee,Not Self Employed,"Life, Physical and Social Sciences",...,12.0,8.0,2.0,2.0,4.0,"Masters, Professional or Doctorate Degree",White,NaN,NaN,Physical sciences (include Earth sciences)
2,5.0,1.7321,No,Yes,No,No,Employed,Part Time Employee,Not Self Employed,"Sales (Sales Representative, Retail Sales, Oth...",...,Zero or Don't remember,Zero or Don't remember,0.0,2.0,2.0,Bachelors degree,Asian,NaN,NaN,NaN
3,6.0,0.1478,Yes,No,No,Yes,Employed,Full Time Employee,Self Employed,"Teacher, college and university",...,15 or more courses,6.0,0.0,2.0,2.0,"Masters, Professional or Doctorate Degree",White,NaN,NaN,NaN
4,7.0,1.5842,No,No,No,Yes,Employed,Part Time Employee,Self Employed,Business and Financial Operations,...,3.0,3.0,0.0,2.0,2.0,"Masters, Professional or Doctorate Degree",Asian,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4909,5909.0,0.0901,Yes,No,No,No,Employed,Full Time Employee,Not Self Employed,"Other Health Care Practitioner (such as nurse,...",...,Refused,Refused,1.0,2.0,3.0,"Some college, including Associate degree",White,NaN,NaN,NaN
4910,5910.0,0.1610,Yes,No,No,No,Employed,Full Time Employee,Not Self Employed,"Other Health Care Practitioner (such as nurse,...",...,2.0,2.0,0.0,3.0,3.0,"Masters, Professional or Doctorate Degree",White,NaN,NaN,NaN
4911,5911.0,0.1444,Yes,No,No,No,Employed,Full Time Employee,Not Self Employed,Computer and Mathematical,...,Zero or Don't remember,Zero or Don't remember,2.0,3.0,5.0,Bachelors degree,White,"Computer work (such as software developer, dat...",NaN,NaN
4912,5912.0,0.6585,No,Yes,No,No,Employed,Part Time Employee,Not Self Employed,"Medical Doctor (such as physician, surgeon, de...",...,Zero or Don't remember,Zero or Don't remember,1.0,3.0,4.0,"Masters, Professional or Doctorate Degree",Asian,NaN,NaN,NaN
4913,5913.0,0.0937,No,Yes,No,Yes,Employed,Part Time Employee,Self Employed,"Other Health Care Practitioner (such as nurse,...",...,Zero or Don't remember,Zero or Don't remember,0.0,2.0,2.0,"Some college, including Associate degree",White,NaN,NaN,NaN

In [3]:
#view shape- 4914 observations, and 220 variables
stem.shape

(4914, 220)

In [4]:
stem.head()
#viewing the first 5 values

,CaseID,weight,WORK_1,WORK_2,WORK_3,WORK_4,EMPLOYED,FULLPART,SELFEMPLOYED,OCCUPATION_col,...,SCICOUR2_t,MATHCOUR2_t,PPT017_t,PPT18OV_t,PPHHSIZE_t,EDUC4CAT,RACE_col,RECONA_col,RECONB_col,RECONC_col
0,3.0,0.0707,Yes,No,No,No,Employed,Full Time Employee,Not Self Employed,Computer and Mathematical,...,1.0,1.0,0.0,1.0,1.0,Bachelors degree,White,"Computer work (such as software developer, dat...",NaN,NaN
1,4.0,0.3938,Yes,No,No,No,Employed,Full Time Employee,Not Self Employed,"Life, Physical and Social Sciences",...,12.0,8.0,2.0,2.0,4.0,"Masters, Professional or Doctorate Degree",White,NaN,NaN,Physical sciences (include Earth sciences)
2,5.0,1.7321,No,Yes,No,No,Employed,Part Time Employee,Not Self Employed,"Sales (Sales Representative, Retail Sales, Oth...",...,Zero or Don't remember,Zero or Don't remember,0.0,2.0,2.0,Bachelors degree,Asian,NaN,NaN,NaN
3,6.0,0.1478,Yes,No,No,Yes,Employed,Full Time Employee,Self Employed,"Teacher, college and university",...,15 or more courses,6.0,0.0,2.0,2.0,"Masters, Professional or Doctorate Degree",White,NaN,NaN,NaN
4,7.0,1.5842,No,No,No,Yes,Employed,Part Time Employee,Self Employed,Business and Financial Operations,...,3.0,3.0,0.0,2.0,2.0,"Masters, Professional or Doctorate Degree",Asian,NaN,NaN,NaN

In [5]:
#name of each column(variable)
for i in stem.columns:
    print(i)
#using codebook to determine variables needed

CaseID
weight
WORK_1
WORK_2
WORK_3
WORK_4
EMPLOYED
FULLPART
SELFEMPLOYED
OCCUPATION_col
INDUSTRY_col
TEACHSTEM
WORKTYPE_FINAL
SCH2a
SCH2b
SCH3a
SCH3b
SCH3c
SCH3d
SCH4
SCH5a
SCH5b
SCH5c
SCH6a
SCH6b
SCH6c
SCH6d
SCH6e
SCH6f
SCH6g
SCH6h
SCH7
SCH8a
SCH8b
SCH9a
SCH9b
SCH10_flag
SCH10A_1
SCH10A_2
SCH10A_3
SCH10A_4
SCH10A_5
SCH10A_6
SCH10A_Refused
SCH10B_1
SCH10B_2
SCH10B_3
SCH10B_4
SCH10B_5
SCH10B_6
SCH10B_Refused
JOBVALU1_1
JOBVALU1_2
JOBVALU1_3
JOBVALU1_4
JOBVALU1_5
JOBVALU1_6
JOBVALU1_7
JOBVALU1_8
JOBVALU1_Refused
JOBVALU2
AHEADa
AHEADb
AHEADc
AHEADd
AHEADe
AHEADf
AHEADg
TALENT
PROVE
RESPECTA
RESPECTB
FAMSTEM1
FAMSTEM2_1
FAMSTEM2_2
FAMSTEM2_Refused
INTEREST1
STEMJOBa
STEMJOBb
STEMJOBc
STEMJOBd
STEMJOBe
STEMJOBf
STEMJOBg
STEMJOBh
DOV_FORM
REASON1a
REASON1b
REASON1c
REASON1d
REASON1e
REASON1f
REASON1g
REASON2a
REASON2b
REASON2c
REASON2d
REASON2e
REASON2f
REASON2g
TECH1
TECH2
TECH3
TECH4
TECH5
TECH6
GEND1
GEND2
GEND3
GEND4
GEND5
GEND6_a
GEND6_b
GEND6_c
GEND6_d
GEND6_Refused
ETHN1
ETHN2a
ETHN2b
ETHN2c
ETHN2d
ETHN3a
ETHN3b
ETHN3c
ETHN3d
ETHN4
ETHN5
ETHN6_a
ETHN6_b
ETHN6_c
ETHN6_d
ETHN6_Refused
GENDJOB1
ETHNJOB1
GENDDISC_a
GENDDISC_b
GENDDISC_c
GENDDISC_d
GENDDISC_e
GENDDISC_f
GENDDISC_g
GENDDISC_h
GENDDISC_i
GENDDISC_Refused
ETHNDISC_a
ETHNDISC_b
ETHNDISC_c
ETHNDISC_d
ETHNDISC_e
ETHNDISC_f
ETHNDISC_g
ETHNDISC_h
ETHNDISC_i
ETHNDISC_Refused
HARASS1
HARASS2
HARASS3
VOTECH
RELATE1
RELATE2
SCICOUR1
MATHCOUR1
FIRSTCOLL
PARTY
PARTYLN
IDEO
PUBLIC
XSPANISH
Xparent
PPCM1301_col
PPCM0166
ppagecat
ppagect4
PPETHM
PPGENDER
PPHHHEAD
HH_INCOME_col
PPMARIT
PPMSACAT
PPREG4
SCH1_OE1_col
SCH1_OE2_col
SCH1_OE3_col
SCH7_OE1_col
INTEREST2_OE
INTEREST3_OE1_col
INTEREST3_OE2_col
INTEREST3_OE3_col
ETHNJOB2_OE1_col
ETHNJOB2_OE2_col
GENDJOB2_OE1_col
GENDJOB2_OE2_col
GENDJOB2_OE3_col
DEGREE1_computer
DEGREE1_math
DEGREE1_life
DEGREE1_physical
DEGREE1_engineering
DEGREE1_health
DEGREE1_otherstem
DEGREE1_othernonstem
DEGREE2_computer
DEGREE2_math
DEGREE2_life
DEGREE2_physical
DEGREE2_engineering
DEGREE2_health
DEGREE2_otherstem
DEGREE2_othernonstem
STEM_DEGREE
SCICOUR2_t
MATHCOUR2_t
PPT017_t
PPT18OV_t
PPHHSIZE_t
EDUC4CAT
RACE_col
RECONA_col
RECONB_col
RECONC_col

In [6]:
stem.info()
#most of the data is categorical 
#the only floats are CaseID and weight

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4914 entries, 0 to 4913
Columns: 220 entries, CaseID to RECONC_col
dtypes: category(218), float64(2)
memory usage: 1.1 MB

## My Own Analysis (QTNA)

In my own analysis, I will focus on race and gender in stem jobs.
As an African American woman working in STEM, showing the population that I am part of is important for my own understanding in workplace equity and hopefully others as well.

How many people do not go into STEM because:
use: SCH7 What's the main reason many young people don't pursue college degrees in science, technology, engineering and mathematics? Is it mostly because... [RANDOMIZE; “some other reason” always last]

In [12]:
stem[['SCH7']].value_counts(normalize = True)
#Here we see that about 55% of people do not go into STEM because they think
#the subjects are too hard.

SCH7
They think these subjects are too hard                        0.549044
They think these subjects are not useful for their careers    0.188441
They think these subjects are too boring                      0.129019
Some other reason (please specify)                            0.122711
Refused                                                       0.010786
dtype: float64

Looking at stem workers only:

In [105]:
len(stem[(stem['WORKTYPE_FINAL'] == 'STEM Worker')]) /len(stem)
#here, we see that about 48% of our subjects work in stem positions

0.477004477004477

In [107]:
stem_only = stem[(stem['WORKTYPE_FINAL'] == 'STEM Worker')]
stem_only

,CaseID,weight,WORK_1,WORK_2,WORK_3,WORK_4,EMPLOYED,FULLPART,SELFEMPLOYED,OCCUPATION_col,...,SCICOUR2_t,MATHCOUR2_t,PPT017_t,PPT18OV_t,PPHHSIZE_t,EDUC4CAT,RACE_col,RECONA_col,RECONB_col,RECONC_col
0,3.0,0.0707,Yes,No,No,No,Employed,Full Time Employee,Not Self Employed,Computer and Mathematical,...,1.0,1.0,0.0,1.0,1.0,Bachelors degree,White,"Computer work (such as software developer, dat...",NaN,NaN
1,4.0,0.3938,Yes,No,No,No,Employed,Full Time Employee,Not Self Employed,"Life, Physical and Social Sciences",...,12.0,8.0,2.0,2.0,4.0,"Masters, Professional or Doctorate Degree",White,NaN,NaN,Physical sciences (include Earth sciences)
3,6.0,0.1478,Yes,No,No,Yes,Employed,Full Time Employee,Self Employed,"Teacher, college and university",...,15 or more courses,6.0,0.0,2.0,2.0,"Masters, Professional or Doctorate Degree",White,NaN,NaN,NaN
6,10.0,0.1206,Yes,No,No,No,Employed,Full Time Employee,Not Self Employed,Architecture and Engineering,...,NaN,NaN,0.0,2.0,2.0,"Some college, including Associate degree",White,NaN,Other,NaN
7,11.0,0.0941,Yes,No,No,No,Employed,Full Time Employee,Not Self Employed,Computer and Mathematical,...,5.0,3.0,0.0,1.0,1.0,Bachelors degree,White,Other,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4909,5909.0,0.0901,Yes,No,No,No,Employed,Full Time Employee,Not Self Employed,"Other Health Care Practitioner (such as nurse,...",...,Refused,Refused,1.0,2.0,3.0,"Some college, including Associate degree",White,NaN,NaN,NaN
4910,5910.0,0.1610,Yes,No,No,No,Employed,Full Time Employee,Not Self Employed,"Other Health Care Practitioner (such as nurse,...",...,2.0,2.0,0.0,3.0,3.0,"Masters, Professional or Doctorate Degree",White,NaN,NaN,NaN
4911,5911.0,0.1444,Yes,No,No,No,Employed,Full Time Employee,Not Self Employed,Computer and Mathematical,...,Zero or Don't remember,Zero or Don't remember,2.0,3.0,5.0,Bachelors degree,White,"Computer work (such as software developer, dat...",NaN,NaN
4912,5912.0,0.6585,No,Yes,No,No,Employed,Part Time Employee,Not Self Employed,"Medical Doctor (such as physician, surgeon, de...",...,Zero or Don't remember,Zero or Don't remember,1.0,3.0,4.0,"Masters, Professional or Doctorate Degree",Asian,NaN,NaN,NaN
4913,5913.0,0.0937,No,Yes,No,Yes,Employed,Part Time Employee,Self Employed,"Other Health Care Practitioner (such as nurse,...",...,Zero or Don't remember,Zero or Don't remember,0.0,2.0,2.0,"Some college, including Associate degree",White,NaN,NaN,NaN

From here, we can see that white, non-hispanic male and females make up 
77 - 80% of stem workers in this dataset

In [115]:
pd.crosstab(stem_only.PPGENDER, stem_only.PPETHM, normalize = 'index')

PPETHM,"2+ Races, Non-Hispanic","Black, Non-Hispanic",Hispanic,"Other, Non-Hispanic","White, Non-Hispanic"
PPGENDER,,,,,
Female,0.025306,0.060408,0.063673,0.048163,0.802449
Male,0.035746,0.035746,0.079535,0.078642,0.770331

Below we notice that the largest amount of people who believe their race or ethnicity has made it harder for them to succeed at their jobs are Black, Non-Hispanic Stem workers at 40%

In [137]:
pd.crosstab(stem_only.PPETHM, stem_only.ETHNJOB1, normalize = 'index')

ETHNJOB1,My race or ethnicity has made it easier for me to succeed in my job,My race or ethnicity has made it harder for me to succeed in my job,My race or ethnicity has not made much difference in my job,Refused
PPETHM,,,,
"2+ Races, Non-Hispanic",0.126761,0.140845,0.718310,0.014085
"Black, Non-Hispanic",0.087719,0.403509,0.500000,0.008772
Hispanic,0.131737,0.209581,0.646707,0.011976
"Other, Non-Hispanic",0.047619,0.258503,0.687075,0.006803
"White, Non-Hispanic",0.221680,0.047154,0.721409,0.009756

### Here, I will be utilizing the report on women and men in STEM in the workplace to show the manipulation of data for information retrieval
https://www.pewresearch.org/social-trends/2018/01/09/women-and-men-in-stem-often-at-odds-over-workplace-equity/

Most women in STEM jobs in majority-male workplaces, in computer jobs or with postgraduate degrees say they have experienced discrimination at work % of those in science, technology, engineering and math jobs who say they: 1)have experienced gender discrimination at work, 2)their gender has made it harder to succeed at work 3)sexual harassment is a problem at their workplace

##### Time to see what variables I need to use:
1)WORKTYPE_FINAL=1 AND GENDJOB2 = 6
2)IF STEM WORKER AND GENDER MADE IT HARDER TO SUCCEED (WORKTYPE_FINAL=1 AND GENDJOB1=1 
3)HARASS1 AND HARASS2

#NOTE: WORKTYPE_FINAL=1 IF STEM WORKER OR DOV_EMPLOYED=1 IF EMPLOYED
[IF PPGENDER=1:woman; IF PPGENDER=2: man]

In [71]:
#The men and and women in stem whohave ever experienced gender discrimination at work
#len(stem[(stem['GENDDISC_b'] =='Yes') & (stem['PPGENDER'] == 'Female')]) / len(stem)
#len(stem[(stem['GENDDISC_b'] =='Yes') & (stem['PPGENDER'] == 'Male')]) / len(stem)

0.029914529914529916

This shows that the percentage of men and women in stem who feel their
gender has made it harder for them to succeed at their job

In [158]:
pd.crosstab(stem.PPGENDER, stem.GENDJOB1, normalize = 'index')

GENDJOB1,My gender has made it easier for me to succeed in my job,My gender has made it harder for me to succeed in my job,My gender has not made much difference in my job,Refused
PPGENDER,,,,
Female,0.098123,0.185580,0.698379,0.017918
Male,0.238762,0.072519,0.675573,0.013147

##### Sexual harassment in the workplace

In [81]:
#pd.crosstab(stem.PPGENDER, stem.HARASS3, normalize = 'index')

Notes:
ASK IF EMPLOYED (WORKTYPE_FINAL=1) AND BLACK MAN (PPGENDER=1 AND PPETHM=2) OR EMPLOYED (WORKTYPE_FINAL=1) AND BLACK WOMAN (PPGENDER=2 AND PPETHM=2) OR EMPLOYED (WORKTYPE_FINAL=1) AND HISPANIC MAN (PPGENDER=1 AND PPETHM=4) OR EMPLOYED (WORKTYPE_FINAL=1) AND HISPANIC MAN (PPGENDER=2 AND PPETHM=4) OR EMPLOYED (WORKTYPE_FINAL=1) AND ASIAN AMERICAN WOMAN (PPGENDER=2 AND (PPETHM=3 AND XRACEM=4))